#canvas {
    border: 1px solid black;
}
#main {
    display: flex;
}
#side {
    margin-left: 20px;
}
#chat {
    width: 100%;
    height: 140px;
}
#message {
    width: 100%;
}
#chat-div {
    margin-bottom: 10px;
}
#fillplan {
    margin-top: 10px;
    margin-bottom: 10px;
}
#fillplan button, #boardplan button {
    margin-left: 10px;
}
select[name='games-list'] {
    margin-bottom: 10px;
    width: 280px;
    min-height: 200px;
}
